@{
    ViewData["Title"] = "Domača stran";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v aplikaciji eShepherd</h1>
    <p>Aplikacija je namenjena rejcem ovac za lažje vodenje evidence.</p>

<div class="card-deck">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Dodaj kotitev</h4>
            <a asp-controller="Kotitve" asp-action="Create">Dodaj kotitev</a>
        </div>
        <a href="@Url.Action("Create", "Kotitve")">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA9bAl9YnHaWkFEdlpo9nW7PuTcam39VTNLw&usqp=CAU" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Dodaj gonitev</h4>
            <a asp-controller="Gonitve" asp-action="Create">Dodaj gonitev</a>
        </div>
        <a href="@Url.Action("Create", "Gonitve")">
            <img src="https://thumbs.dreamstime.com/b/two-funny-cartoon-sheep-love-14799691.jpg" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Dodaj ovco</h4>
            <a asp-controller="Ovce" asp-action="Create">Dodaj ovco</a>

        </div>
        <a href="@Url.Action("Create", "Ovce")">
            <img src="https://lh3.googleusercontent.com/proxy/K0yFtNU3f9_CGU29X1vKAZvcbnbuVktHxf5oWNhAzWJlQTl-efaJaDh0O7fQbF42j9uE1CPt3uuSclbDemCGQM8RwjZvBnK8v0w" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Dodaj čredo</h4>
            <a asp-controller="Crede" asp-action="Create">Dodaj čredo</a>
        </div>
       <a href="@Url.Action("Create", "Crede")">
            <img src="https://i.pinimg.com/originals/c8/48/6e/c8486ec4226a2c0ab90a3ad9d5bfef89.jpg" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Dodaj ovna</h4>
            <a asp-controller="Ovni" asp-action="Create">Dodaj ovna</a>
        </div>
        <a href="@Url.Action("Create", "Ovni")">
            <img src="https://i.pinimg.com/originals/b3/87/b0/b387b086c775312b6e4f972d48f77f0d.jpg" alt="" style="max-height: 200px; max-width: 200px;" />
        </a>
    </div>
</div>







