@model IEnumerable<web.Models.Creda>

@{
    ViewData["Title"] = "Črede";
}

<h1>Črede</h1>

<p>
    <a asp-action="Create">Dodaj čredo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CredeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloOvc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opombe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloOvc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opombe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CredeID">Uredi čredo</a> |
                <a asp-action="Details" asp-route-id="@item.CredeID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.CredeID">Odstrani čredo</a>
            </td>
        </tr>
}
    </tbody>
</table>
