@model IEnumerable<web.Models.Jagenjcek>

@{
    ViewData["Title"] = "Jagenjčki";
}

<h1>Jagenjčki</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdJagenjcka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJagenjcka">Uredi jagenjčka</a> |
                <a asp-action="Details" asp-route-id="@item.IdJagenjcka">Podrobnosti</a> |
            </td>
        </tr>
}
    </tbody>
</table>
