@model IEnumerable<web.Models.Jagenjcek>

@{
    ViewData["Title"] = "Jagenjčki";
}

<h1>Jagenjčki</h1>

<p>
    <a asp-action="Create">Dodaj jagenjčka</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
           Najdi jagenjčka po ID: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />

            <input type="submit" value="Išči" class="btn btn-primary" /> |
            <a asp-action="Index">Nazaj na seznam</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IDSortParm"]">@Html.DisplayNameFor(model => model.IdJagenjcka)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skritIdJagenjcka)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["KotitevIDSortParm"]">@Html.DisplayNameFor(model => model.KotitevID)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdJagenjcka)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.skritIdJagenjcka)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.kotitev.KotitevID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.skritIdJagenjcka">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.skritIdJagenjcka">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.skritIdJagenjcka">Odstrani</a>
            </td>
        </tr>
}
    </tbody>
</table>
