@model IEnumerable<web.Models.Kotitev>

@{
    ViewData["Title"] = "Kotitve";
}

<h1>Kotitve</h1>

<p>
    <a asp-action="Create">Dodaj kotitev</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumKotitve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloMladih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ovca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloMrtvih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opombe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKotitve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloMladih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oven.OvenID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ovca.OvcaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloMrtvih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opombe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KotitevID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.KotitevID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.KotitevID">Odstrani</a>
            </td>
        </tr>
}
    </tbody>
</table>
